# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.env*
upload.py
write_app.py
deploy.js
deploy.mjs
deployed_address.txt
artifacts/
src/App.js.backup
node_modules/
contracts-hardhat/node_modules/
contracts-hardhat/ScheduledPayment.abi.json
contracts-hardhat/ScheduledPayment.bytecode.txt
build_check.log
verify.sol
.tmp/
